{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="text-center text-white h-75 align-content-end">
  <br> <!--Skal fikses-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="pb-5 font-weight-bolder" style="font-family:'Roboto', sans-serif">Eventyret starter i Bø!</h1>





  <line-white>

  </line-white>
  <br>
  <br>
  <br>
  <br>

  <h4 class="mt-5">Kommende events</h4>
  <div class="card-group rounded-circle">
    <div class="card bg-dark text-white m-1 rounded">
      <img class="card-img " src="{% static "images/paintball.jpg" %}" alt="Card image">
      <div class="card-img-text">
        <h4>Paintball</h4>

      </div>
    </div>
    <div class="card bg-dark text-white m-1 rounded">
      <img class="card-img" src="{% static "images/yoga.jpg" %}" alt="Card image">
      <div class="card-img-text">
        <h4>Yoga</h4>
      </div>
    </div>
    <div class="card bg-dark text-white m-1 rounded">
      <img class="card-img" src="{% static "images/gutten.jpg" %}" alt="Card image">
      <div class="card-img-text">
        <h4>Gutten fra Bø</h4>
      </div>
    </div>
  </div>
</div>

{% endblock content %}