{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="post-detail">
  <div class="container">
    <div class="row">
      <div class="card bg-dark text-white col-12">
        <img class="card-img" src="{% static "images/ticket.jpg" %}" alt="Card image">
        <div class="card-img-overlay">
          <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ object.content | safe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}